<div class="media-body">
      
    <p><%= link_to "{@bookmark.url}" %></p>
   
      <small><%= link_to "Delete", [@topic, bookmark], method: :delete %></small>
      <%= render partial: 'likes/like', locals: {bookmark: @bookmark} %>
