<h1>My Bookmarks</h1>
  <%= render partial: 'bookmarks/bookmark', collection: @bookmarks %>


<h1>Bookmarks I've Liked</h1>
  <%= render partial: 'bookmarks/bookmark', collection: @liked_bookmarks %>
