
<div class="container">
  <div class="jumbotron">
    <h1>Welcome to Blocmarks<small><span class="glyphicon glyphicon-bookmark"></span></small></h1>
    <p>Manage your bookmarks and share with your friends!</p>
  </div>
  <div class="row">
    <div class="col-md-4">
      <h3>Bookmark What You Want</h3>
      <p>It's easy enough to bookmark a URL in your browser, but eventually your bookmark library may get cluttered and it may require effort to manage bookmarks.  Blocmarks will  organize your bookmarks by topic so you can quickly find what you want to read later.</p>
    </div>
    <div class="col-md-4">
      <h3>Easily Add Bookmarks</h3>
      <p>Create topics easily by clicking on the "New Topics" button. Add your URL bookmarks by pasting them in the "Add New Bookmark" section. Or, email your bookmark to "postmaster@app791986fb9f3c4e50aa4978d395fc2ba9.mailgun.org" with a Topic in your subject line, to save bookmarks on the go!</p>
    </div>
    <div class="col-md-4">
      <h3>Get Social!</h3>
      <p>You'll also have the ability to share bookmarks with friends, and view other public bookmarks so you can browse and add more bookmarks to their own!</p>
    </div>
  </div>
</div>
